APP_NAME="MARVEAN Intelligence Platform"
APP_ENV=local
APP_KEY=base64:marvean_super_secure_enterprise_key_2026
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=logicstrand_marvean
DB_USERNAME=logicstrand_marvean
DB_PASSWORD=ph##$sEP=&6Q*52J
